<div class="container">
  <div class="content-first-categoria">
    <div class="box-container">
      <div class="button-container">
        <h1><strong>Salud</strong></h1>
        <button *ngFor="let categoria of todasLasCategorias.slice(0, 8)"
          [class.activo]="esCategoriaPrincipalActiva(categoria.nombre)"
          (click)="onClickCategoriaPrincipal(categoria.nombre)" class="categoria-button" #botonCategorias>
          {{categoria.icono}} {{ categoria.nombre }}
        </button>
      </div>
    </div>
    <div class="box-container">
      <div class="button-container">
        <h1><strong>Otros</strong></h1>
        <button *ngFor="let categoria of todasLasCategorias.slice(8, 11)"
          [class.activo]="esCategoriaPrincipalActiva(categoria.nombre)"
          (click)="onClickCategoriaPrincipal(categoria.nombre)" class="categoria-button" #botonCategorias>
          {{categoria.icono}} {{ categoria.nombre }}
        </button>
      </div>
    </div>
  </div>

  <div class=" content-display-column" #subCategoryContainer>
    <ng-container *ngIf="categoriaPrincipalActiva">
      <h2>Contenido de {{ categoriaPrincipalActiva }} </h2>
      <div class="subcategorias-main-container">
        <h4>¿Qué tema deseas profundizar?:</h4>
        <div class="button-column-container">
          <ng-container *ngFor="let subCategoria of subCategoriasAMostrar">
            <button #botonSubCategorias [class.activo]="esSubCategoriaActiva(subCategoria.codigo)"
              (click)="onClickSubCategoria(subCategoria.codigo)" class="subcategoria-button">
              <span class="titulo">{{ subCategoria.titulo }}</span>
              <span class="descripcion">{{ subCategoria.descripcion }}</span>
            </button>

            <div *ngIf="esSubCategoriaActiva(subCategoria.codigo)" class="preguntas-respuestas-container"
              [class.full-screen-container]="esSubCategoriaActiva(subCategoria.codigo)"
              [class.large-bold-text]="esSubCategoriaActiva(subCategoria.codigo)">
              <button #btnVolver *ngIf="esSubCategoriaActiva(subCategoria.codigo)" class="close-button"
                (click)="cerrarVentana()">
                ← VOLVER
              </button>
              <h4 class="subcategoria-button">{{ subCategoria.titulo }}</h4>
              <h4> Elige tu pregunta: </h4>
              <div class="botones-preguntas-container">
                <ng-container *ngFor="let pr of preguntasAMostrar">
                  <button #botonPregResp [class.activo]="esPreguntaActiva(pr.pregunta)"
                    (click)="onClickPregunta(pr.pregunta)" class="pregunta-button">
                    {{ pr.pregunta }}
                  </button>

                  <div *ngIf="esPreguntaActiva(pr.pregunta)" class="respuesta-area"
                    [class.zoom-effect]="esPreguntaActiva(pr.pregunta)">
                    <mat-button-toggle #botonLeerVozAlta class="read-aloud-button"
                      [checked]="_window.speechSynthesis.speaking && currentPlayingQuestion === pr.pregunta && currentPlayingAnswer === pr.respuesta"
                      (click)="leerPreguntaRespuesta(pr.pregunta, pr.respuesta)">
                      {{ getButtonText(pr.pregunta, pr.respuesta) }}
                    </mat-button-toggle>
                    <p #respTexto>{{ pr.respuesta }}</p>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <div *ngIf="!categoriaPrincipalActiva" class="no-selection-message">
      <p>Selecciona una categoría para ver su contenido.</p>
    </div>
  </div>
</div>