<mat-card>
  <mat-card-content>
    <mat-card class="asistente-card">
      <mat-card-header class="asistente-card-header">
        <div class="logo-container">
          <img [src]="logoSrc" alt="Logo Hospital Félix Bulnes" class="asistente-logo"
            onerror="this.onerror=null;this.src='https://placehold.co/150x100/CCCCCC/333333?text=Logo+no+disponible';">
          <img [src]="logoUssSrc" alt="Logo Universidad San Sebastian" class="asistente-logo"
            onerror="this.onerror=null;this.src='https://placehold.co/150x100/CCCCCC/333333?text=Logo+no+disponible';">
        </div>
        <mat-card-title class="asistente-title">
          ¡Bienvenido/a al Asistente para Cuidadores del <span class="hospital-name">Hospital Félix
            Bulnes</span>!
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="asistente-content">
        <p>
          Le damos la más cordial bienvenida a la plataforma <b>“Cuidado Virtual”</b>, desarrollada conjuntamente por la
          <b>Universidad San Sebastián</b> y el <b>Hospital Clínico Félix Bulnes</b>, en el marco de una iniciativa de
          Vinculación con el Medio.
        </p>
        <p>
          Esta plataforma ha sido creada con el propósito de brindarle acompañamiento y orientación durante el proceso
          de cuidado de su
          familiar o
          paciente en el hogar.
        </p>
        <p>
          Le informamos que <b>no se solicitará ningún dato personal</b> durante el uso de esta plataforma. Además,
          usted podrá acceder a sus contenidos cuantas veces lo estime necesario, sin restricciones de uso.
        </p>
        <p>
          Antes de ingresar a los contenidos disponibles, <b>deberá declarar que es mayor de edad</b>. Una vez realizada
          esta
          declaración, podrá acceder libremente a los íconos de ayuda y recursos disponibles para apoyar su
          labor de cuidador.
        </p>
      </mat-card-content>
    </mat-card>


    <router-outlet></router-outlet>
  </mat-card-content>
  <mat-card-footer>
    <div class="footer-box">
      <div>🔹<b>226128941 8:00 a 20:00 hrs</b></div>
      <div>🔹<b>En horario posterior Sapu o Urgencia</b></div>
      <br><br><br>
      <div>
        <p>visitas: {{visitCount}} --- Derechos reservados © 2025</p>
		<a href='https://coveralls.io/github/ITCA-2025/CuidadoVirtual'>
		<img src='https://coveralls.io/repos/github/ITCA-2025/CuidadoVirtual/badge.svg' alt='Coverage Status' /></a>
      </div>

    </div>

  </mat-card-footer>
</mat-card>